html {
    font-size: 62.5%;
}

body {
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    min-width: 320px;
}


#viewport {
    overflow: hidden;
    position: relative;
}

div {
    display: block;
}

* {
    line-height: 2rem;
    background-size: 100% auto;
    box-sizing: inherit;
    outline: 0;
}

/* HEADER BEGINNING*/

header { /* Header background*/
    background-size: auto;
    position: relative;
    z-index: 500;
}

.page-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
    position: relative;
}

/* HEAD NAV MENU */

/*Style for the first level menu bar*/

ul#menu {
    float: left;
    background: url(../Resources/header_background.jpg) 50% 0 no-repeat;
    box-shadow: 10px 10px 25px #000000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    margin: 0;
    padding: 0 10px;
    color: #eee;
}

ul#menu > li {
    float: left;
    list-style-type: none;
    position: relative;
}

label {
    font-size: 1.6rem;
    position: relative;
    display: block;
    padding: 0 18px 0 12px;
    line-height: 3em;
    transition: background 0.3s;
    cursor: pointer;
}

label:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid rgba(255, 255, 255, .5);
    border-bottom: 0 solid rgba(255, 255, 255, .5);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: border-bottom .1s, border-top .1s .1s;
}

label:hover,
input:checked ~ label {
    background: rgba(0, 0, 0, .3);
}

input:checked ~ label:after {
    border-top: 0 solid rgba(255, 255, 255, .5);
    border-bottom: 4px solid rgba(255, 255, 255, .5);
    transition: border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input {
    display: none
}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu {
    font-size: 1.6rem;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #444;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    transition: max-height 0.5s ease-out;
    position: absolute;
    min-width: 100%;
}

ul.submenu li a {
    display: block;
    padding: 12px;
    color: #ddd;
    text-decoration: none;
    box-shadow: 0 -1px rgba(0, 0, 0, .5) inset;
    transition: background .3s;
    white-space: nowrap;
}

ul.submenu li a:hover {
    background: rgba(0, 0, 0, .3);
}

/* NAV MENU END */

#page-header .intro {
    width: 620px;
    padding-top: 100px;
    float: left;
}

/* SLIDER IMAGE TEXT */

#page-header h1 {
    color: #fff;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0 -6px 0 6px;
    display: inline-block;
}

#page-header h1 span.first-line {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #ffffff;
    display: table;
    float: none;
}

#page-header h1 span {
    line-height: 7.2rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px 0px;
    box-shadow: 6px 0 0 rgba(0, 0, 0, 0.7), -6px 0 0 rgba(0, 0, 0, 0.7);
}

#page-header .text {
    text-shadow: 1px 1px 2px #000;
    margin: 1rem 0 0rem;
}

.text p {
    font-size: 1.6rem;
    margin: 0 0 1.6rem;
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* SLIDER START*/
.carousel-wrapper {
    height: 1000px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1680px) {
    .carousel-wrapper {
        height: 800px;
    }
}

@media (max-width: 1260px) {
    .carousel-wrapper {
        height: 500px;
    }
}

@media (max-width: 720px) {
    .carousel-wrapper {
        height: 380px;
    }
}

@media screen and (max-width: 600px) {
    .carousel-wrapper {
        display: none;
    }
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    background: url("../Resources/arroow.png") 50% 50% / 50px no-repeat;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
    transform: rotate(180deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 20px;
        background-position: 10px 50%;
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../Resources/background-image.jpg');
    background-size: cover;
    background-position: center;
}

.item-2 {
    background: url('../Resources/background-image2.jpg');
    background-size: cover;
    background-position: center;
}

.item-3 {
    background: url('../Resources/background-image3.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 480px) {
    .item-1, .item-2, .item-3 {

    }
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

/*SLIDER END*/

/* MAIN CONTENT */

/* NEWS TEXT START */
article.news, .product article.news {
    display: block;
}

.news h2 {
    color: black;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
    display: block;
    font-size: 4.6rem;
    line-height: 4.8rem;
    font-weight: 700;
    width: 100%;
}

.news p {
    text-align: center;
    color: black;
}

/* NEWS TEXT END */

/* BOX NEWS BEGGINING*/

.promo-box .product.box {
    margin: 2% auto 20px; /* Отступ каждой новости */
    position: relative; /* Позиция текста */
    overflow: hidden;
    box-shadow: 10px 10px 25px #000000; /* Тень */
    border-radius: 10px; /* Округление углов */
}

.promo-box .product .content {
    position: absolute;
    top: 15%;
    left: 70px;
    right: 50%;
    height: auto;
    width: auto;
    cursor: default;
}

.promo-box .product img {
    display: block;
    width: 100%;
    height: auto;
    cursor: default;
}

.promo-box .product .content h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    cursor: default;
}

.promo-box .product .content p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #FFF;
    text-shadow: 1px 1px 2px #000;
}

.promo-box .product .content h2 span.first-line {
    font-size: 2.5rem;
    line-height: 3.1rem;
    color: #959595;
    display: table;
}

.promo-box .product .content h2 span {
    background-color: rgba(20, 12, 10, .7);
    padding: 0 2px;
    text-transform: uppercase;
    line-height: 4.1rem;
    color: #fff;
}

.cta-button {
    margin-left: 33px;
    padding: .2em 10px;
    display: inline-block;
    position: relative;
    z-index: 100;
}

.cta-button {
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    background: #140c0a 50% 50% no-repeat;
    background-size: auto;
    transition-property: box-shadow, background-color;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

/* BOX NEWS END*/

/* SEE ALL BUTTON START */

.region .see-all-container {
    margin: 20px auto 40px;
}

.region .see-all-container .button {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: #BC0F0F;
    height: 50px;
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    box-shadow: none;
    border: 0;
    transition: 100ms linear all;
    text-transform: uppercase;
    text-shadow: none;
}

/* SEE ALL BUTTON END */

/* FOOTER START*/
.region-footer {
    background-color: #333333;
}

footer {
    clear: both;
    font-size: 1.2rem /* 12px/14px */;
    padding: 0 0 25px;
    position: relative;
}

footer #back-to-top {
    display: none;
    margin-left: -80px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: -40px;
    left: 50%;
}

footer #back-to-top a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    width: 160px;
    height: 40px;
    padding-top: 20px;
    cursor: pointer;
}

footer .main-footer {
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
    position: relative;
}

footer .main-footer:before {
    content: "";
    height: 8px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

footer .main-footer .footer-text {
    margin: 0 230px 0 280px;
    color: #ffffff;
}

footer .main-footer .footer-text p.brand-family-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 25px 0 10px 0;
    padding-top: 25px;
}

* > footer .main-footer .footer-text p {
    display: block;
    font-size: 1.6rem;
    margin: 0 0 1.6rem;
    padding: 0;
}

footer .main-footer .footer-text p.brand-family-menu {
    text-transform: uppercase;
    font-size: 1.85rem;
    font-weight: 700;
    margin: 0 0 10px 0;
}

* > footer .main-footer .footer-text p {
    display: block;
}

footer .main-footer .footer-text a {
    color: #ffffff;
    text-decoration: none;
}

footer .main-footer .footer-text p.brand-family-menu span.separator {
    margin: 0 4px;
}

footer .main-footer .footer-text p.terms {
    font-weight: 400;
}

footer .main-footer .wizard {
    position: absolute;
    bottom: 1rem;
    left: 10rem;
}

footer .main-footer .wizard a {
    width: 131px;
    height: 84px;
    background-image: url(../Resources/Wizards_of_the_Coast_logo.png);
}

footer .main-footer .logo a {
    text-indent: -999px;
    outline: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
}

footer .main-footer .privacy {
    position: absolute;
    right: 125px;
    bottom: 0;
}

footer .main-footer .logo {
    margin: 0;
}

footer .main-footer p {
    font-size: 1.2rem;
}


