html {
    font-size: 62.5%;
}

body {
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background: #d3d3d3;
    min-width: 320px;
}

#viewport {
    overflow: hidden;
    position: relative;
}

* {
    line-height: 2rem;
    background-size: 100% auto;
}

div {
    display: block;
}

/* NAV HEADER? !!!!!


.header {
    background-color: #414895;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.25);
    height: 48px;
    top: 0;
    left: 0;
    right: 0;
    background-size: auto;
    position: relative;
    z-index: 500;

}

header .page-width {
    height: 98px;
    -webkit-transition: height .25s ease-in-out;
    -o-transition: height .25s ease-in-out;
    transition: height .25s ease-in-out;
    z-index: 500;
}

.page-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
    position: relative;
}

header .home {
    text-indent: -999px;
    width: 221px;
    height: 74px;
    margin-top: -37px;
    outline: 0;
    background: url(../Resources/D&D-Logo.png) 0 0 no-repeat;
    background-size: 200% auto;
    position: absolute;
    top: 50%;
    left: 0;
    overflow: hidden;
    transition-property: width, height, left, margin-top, margin-left;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}*/

/* HEADER BEGINNING*/

header {
    margin: 0;
    padding: 0;
    display: block;
}

header {
    background: url(../Resources/header_image.jpg) 100% no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 500;
}

header .page-width {
    height: 98px;
    transition: height .25s ease-in-out;
    z-index: 500;
}

.page-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
    position: relative;
}

/* HEAD LOGO*/
header .home {
    text-indent: -999px;
    width: 221px;
    height: 74px;
    margin-top: -37px;
    outline: 0;
    background: url(../Resources/D&D-Logo.png) 100% no-repeat;
    background-size: 200% auto;
    position: absolute;
    top: 50%;
    transition-property: width, height, left, margin-top, margin-left;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}
/* HEAD LOGO*/

/* HEAD NAV MENU*/
#menu {
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 330px;
    height: 50px;
    -webkit-transition: left .25s ease-in-out;
    -moz-transition: left .25s ease-in-out;
    -ms-transition: left .25s ease-in-out;
    -o-transition: left .25s ease-in-out;
    transition: left .25s ease-in-out;
}

#menu .menu-bar {
    width: 0;
    height: 0;
    position: relative;
    overflow: hidden;
}

#menu ul {
    margin: -16px 0 0 0;
    padding: 0;
    list-style: none;
}

header #menu ul li.expanded {
    list-style: none;
}
header #menu li.expanded, li.collapsed, li.leaf {
    margin: auto;
    padding: 0;
}
#menu li {
    text-align: center;
    float: left;
    position: relative;
}
@media (max-width: 1919px) {
    #menu li, #menu li .panel {
        width: 132px;
    }
}
#menu li:hover a, #menu li:focus a, #menu li.current a {
    color: #fff;
    background: #9d0a0e;
}
#menu a {
    font-size: 1.4rem;
    height: 35px;
    padding: 15px 5px 0;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 110;
    transition-property: color, background-color;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

#menu li .panel {
    height: 0;
    background: #9d0a0e;
    position: absolute;
    top: 50px;
    z-index: 105;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
    transition-property: transform, opacity;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}
@media (max-width: 1919px) {
    #menu li, #menu li .panel {
        width: 132px;
    }
}

header #menu ul li.expanded {
    list-style: none;
}
header #menu li.expanded, li.collapsed, li.leaf {
    margin: auto;
    padding: 0;
}
#menu li li {
    float: none;
    position: relative;
}

/* image */

#page-container {
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#page-header {
    color: #fff;
    background-size: 100% auto;
    background: 50% 0 no-repeat;
    position: relative;
    max-height: 600px;
    overflow: hidden;
}

#page-header img {
    display: block;
    width: 100%;
}

@media (max-width: 1220px) {
    #page-header .page-width {
        margin-left: 0;
        left: 10px;
    }
}

#page-header .intro {
    width: 620px;
    padding-top: 100px;
    float: left;
}

#page-header h1 {
    color: #fff;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0 -6px 0 6px;
    display: inline-block;
}

#page-header h1 span.first-line {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #ffffff;
    display: table;
    float: none;
}

#page-header h1 span {
    line-height: 7.2rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px 0px;
    box-shadow: 6px 0 0 rgba(20, 12, 10, .7), -6px 0 0 rgba(20, 12, 10, .7);
}

#page-header h1:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

#page-header .text {
    text-shadow: 1px 1px 2px #000;
    margin: 1rem 0 0rem;
}

.text p {
    font-size: 1.6rem;
    margin: 0 0 1.6rem;
    padding: 0;
}

#page-header .page-width:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
header:after {
    content: "";
    height: 8px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, transparent 100%);
    position: absolute;
    right: 0;
    bottom: -8px;
    left: 0;
}

/* ПРОБА ПРИМЕРА!!!!!*/

.nav_panel {
    float: left;
    width: 100%;
    background: #424242;
    list-style-type: none;
    overflow: hidden;
    top: 30px;
    padding: 0;
    position: absolute;
}

article h1 {
    font-family: 'Bookman Old Style', serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    color: #414895;
    text-transform: uppercase;
    padding: 20px 0;
}

li {
    float: left;
}

li a, #edit-keys {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

#edit-keys {
    float: right;
    background-color: #333;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    list-style-type: none;
    display: none;
    position: fixed;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.section {
    display: flex;
    width: 100%;
    margin: 20px auto;
}

.cards {
    max-width: 500px;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 1.5rem;
}

.cards__item {
    padding: 1rem;
}

.card {
    width: 400px;
    padding: 10px 10px 20px 10px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 10px 10px 5px #424242;
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.cards img {
    width: 400px;
    height: auto;
    border-radius: 0.25rem;
}

.card__title {
    color: #111111;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

footer {
    clear: both;
    font-size: 1.2rem /* 12px/14px */;
    padding: 0 0 25px;
    position: relative;
}

footer #back-to-top {
    display: none;
    background: url(../Resources/back-top.png) center top no-repeat;
    width: 160px;
    height: 40px;
    margin-left: -80px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: -40px;
    left: 50%;
}

footer #back-to-top a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    width: 160px;
    height: 40px;
    padding-top: 20px;
    cursor: pointer;
}

a {
    color: #9d0a0e;
    text-decoration: none;
}

footer .main-footer {
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
    position: relative;
}

footer .main-footer:before {
    content: "";
    height: 8px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

footer .main-footer .text {
    margin: 0 230px 0 280px;
    color: #A7A7A7;
}

footer .main-footer .text p.brand-family-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 25px 0 10px 0;
    padding-top: 25px;
}

* > footer .main-footer .text p {
    display: block;
}

footer .main-footer .text p:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

footer .main-footer .text p.brand-family-menu {
    text-transform: uppercase;
    font-size: 1.85rem;
    font-weight: 700;
    margin: 0 0 10px 0;
}

* > footer .main-footer .text p {
    display: block;
}

footer .main-footer .text a {
    color: #A7A7A7;
    text-decoration: none;
}

footer .main-footer .text p.brand-family-menu span.separator {
    margin: 0 4px;
}

footer .main-footer .text p:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

footer .main-footer .text p.terms {
    font-weight: 400;
}

footer .main-footer .wizard {
    position: absolute;
    bottom: 50px;
    left: 100px;
}

footer .main-footer .wizard a {
    width: 131px;
    height: 84px;
    background-image: url(../Resources/Wizards_of_the_Coast_logo.png);
}

footer .main-footer .logo a {
    text-indent: -999px;
    outline: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
}

a {
    color: #9d0a0e;
    text-decoration: none;
}

footer .main-footer .privacy {
    position: absolute;
    right: 125px;
    bottom: 0;
}

footer .main-footer .logo {
    margin: 0;
}

footer .main-footer p {
    font-size: 1.2rem;
}


