html {
    font-size: 62.5%;
}

body {
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    min-width: 320px;
}

#viewport {
    overflow: hidden;
    position: relative;
}

div {
    display: block;
}

* {
    line-height: 2rem;
    background-size: 100% auto;
    box-sizing: inherit;
    outline: 0;
}

a {
    color: white;
    text-decoration: none;
}

/* HEADER BEGINNING*/

header { /* Header background*/
    background-size: auto;
    position: relative;
    z-index: 500;
}

.page-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
    position: relative;
}

/* HEAD NAV MENU */

/*Style for the first level menu bar*/

ul#menu {
    float: left;
    background: url(../Resources/header_background.jpg) 50% 0 no-repeat;
    box-shadow: 10px 10px 25px #000000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    margin: 0;
    padding: 0 10px;
    color: #eee;
}

ul#menu > li {
    float: left;
    list-style-type: none;
    position: relative;
}

label {
    font-size: 1.6rem;
    position: relative;
    display: block;
    padding: 0 18px 0 12px;
    line-height: 3em;
    transition: background 0.3s;
    cursor: pointer;
}

label:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid rgba(255, 255, 255, .5);
    border-bottom: 0 solid rgba(255, 255, 255, .5);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: border-bottom .1s, border-top .1s .1s;
}

label:hover,
input:checked ~ label {
    background: rgba(0, 0, 0, .3);
}

input:checked ~ label:after {
    border-top: 0 solid rgba(255, 255, 255, .5);
    border-bottom: 4px solid rgba(255, 255, 255, .5);
    transition: border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input {
    display: none
}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu {
    font-size: 1.6rem;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #444;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    transition: max-height 0.5s ease-out;
    position: absolute;
    min-width: 100%;
}

ul.submenu li a {
    display: block;
    padding: 12px;
    color: #ddd;
    text-decoration: none;
    box-shadow: 0 -1px rgba(0, 0, 0, .5) inset;
    transition: background .3s;
    white-space: nowrap;
}

ul.submenu li a:hover {
    background: rgba(0, 0, 0, .3);
}

/* NAV MENU END */

#page-header .intro {
    width: 620px;
    padding-top: 100px;
    float: left;
}

/* SLIDER IMAGE TEXT */

#page-header h1 {
    color: #fff;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0 -6px 0 6px;
    display: inline-block;
}

#page-header h1 span.first-line {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #ffffff;
    display: table;
    float: none;
}

#page-header h1 span {
    line-height: 7.2rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px 0px;
    box-shadow: 6px 0 0 rgba(0, 0, 0, 0.7), -6px 0 0 rgba(0, 0, 0, 0.7);
}

#page-header .text {
    text-shadow: 1px 1px 2px #000;
    margin: 1rem 0 0rem;
}

.text p {
    font-size: 1.6rem;
    margin: 0 0 1.6rem;
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* SLIDER START*/
.carousel-wrapper {
    height: 1000px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1680px) {
    .carousel-wrapper {
        height: 800px;
    }
}

@media (max-width: 1260px) {
    .carousel-wrapper {
        height: 500px;
    }
}

@media (max-width: 720px) {
    .carousel-wrapper {
        height: 380px;
    }
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}


@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 20px;
        background-position: 10px 50%;
    }
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../Resources/myCharacter-background2.jpg');
    background-size: cover;
    background-position: center;
}
/*SLIDER END*/

/* MAIN CONTENT */

.page-header {
    padding: 0 10px;
    width: auto;
    max-width: 1200px;
}

.page-header__extra {
    margin-top: 15px;
}

.page-header__spacer {
    flex: 1;
}

body.responsive-enabled #site #site-main .atf {
    max-width: 1200px;
}

body.responsive-enabled #site #site-main .atf {
    width: auto;
    max-width: 1000px;
}

#site-main > header, #site-main section.atf {
    width: 1200px;
    max-width: none;
    min-width: 0;
}

#site-main > header, #site-main section.atf, .p-header-c .p-header-contain, .p-header-c .p-header-contain + .p-nav > .b-list {
    margin: 0 auto;
    display: block;
    position: relative;
}

@media (min-width: 1024px) {
    #site-main .atf {
        background: transparent;
        max-width: 1200px !important;
        padding: 0 !important;
    }
}

.atf {
    padding: 0 10px 0;
}

.atf {
    background: #f9f9f9;
    border-bottom-width: 0;
    border-top-width: 0;
    margin: 0;
}

.atf, .xt-placement {
    position: relative;
    z-index: 2;
}

@media (min-width: 1024px) {
    .b-breadcrumb-a {
        display: block;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        padding: 5px 15px;
    }
}

.b-breadcrumb-a {
    font-size: 13px;
    line-height: 19.5px;
    font-family: Roboto, Helvetica, sans-serif;
    clear: both;
    margin: 10px 0;
    text-align: left;
}

ul, ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    .b-breadcrumb-a .b-breadcrumb-item {
        float: left;
    }
}

.b-breadcrumb-a .b-breadcrumb-item {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 275px;
}

@media (min-width: 1024px) {
    .b-breadcrumb-a .b-breadcrumb-item a, .b-breadcrumb-a .b-breadcrumb-item span {
        text-transform: uppercase;
        font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: #222;
    }
}

@media (min-width: 1024px) {
    .b-breadcrumb-a .b-breadcrumb-item:first-child a span {
        display: none;
    }
}

@media (min-width: 1024px) {
    .b-breadcrumb-a .b-breadcrumb-item a, .b-breadcrumb-a .b-breadcrumb-item span {
        text-transform: uppercase;
        font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: #222;
    }
}

@media (min-width: 1024px) {
    .more-links {
        z-index: 10;
    }
}

@media (min-width: 1024px) {
    .more-links__links {
        visibility: visible !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.button-alt, .more-links__links .button-alt {
    width: 100%;
    max-width: 255px;
    background: black;
    border: 2px solid #1b9af0;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 1024px) {
    .more-links__links a {
        margin: 0;
        width: auto !important;
        padding: 8px 16px;
        display: block;
    }
}

.button-alt span, .more-links__links .button-alt span {
    display: block;
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: white;
    margin: 0 auto;
    border-radius: 3px;
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .more-links__links a span {
        width: 100%;
        padding: 0;
        white-space: nowrap;
    }
}

.button-alt span, .more-links__links .button-alt span {
    display: block;
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: white;
    margin: 0 auto;
    border-radius: 3px;
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .more-links__links a span {
        width: 100%;
        padding: 0;
        white-space: nowrap;
    }
}

.body-mycontent .page-heading, .section-posts .page-heading, .body-post .page-heading {
    border-color: #1b9af0;
}

.page-heading {
    border-bottom: 3px solid #1b9af0;
    padding-bottom: 8px;
    padding-top: 16px;
}

.page-heading__prefix, .page-heading__content, .page-heading__suffix {
    display: inline;
}

.page-heading__prefix .page-title, .page-heading__content .page-title, .page-heading__suffix .page-title {
    display: inline;
}

@media (min-width: 1024px) {
    .page-title {
        font-size: 36px;
    }
}

.page-title {
    font-size: 30px;
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    z-index: 5;
    color: #242527;
    padding: 0 !important;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 0;
}

.region-footer {
    background-color: #333333;
}

footer {
    clear: both;
    font-size: 1.2rem /* 12px/14px */;
    padding: 0 0 25px;
    position: relative;
}

footer #back-to-top {
    display: none;
    margin-left: -80px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: -40px;
    left: 50%;
}

footer #back-to-top a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    width: 160px;
    height: 40px;
    padding-top: 20px;
    cursor: pointer;
}

footer .main-footer {
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
    position: relative;
}

footer .main-footer:before {
    content: "";
    height: 8px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

footer .main-footer .footer-text {
    margin: 0 230px 0 280px;
    color: #ffffff;
}

footer .main-footer .footer-text p.brand-family-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 25px 0 10px 0;
    padding-top: 25px;
}

* > footer .main-footer .footer-text p {
    display: block;
    font-size: 1.6rem;
    margin: 0 0 1.6rem;
    padding: 0;
}

footer .main-footer .footer-text p.brand-family-menu {
    text-transform: uppercase;
    font-size: 1.85rem;
    font-weight: 700;
    margin: 0 0 10px 0;
}

* > footer .main-footer .footer-text p {
    display: block;
}

footer .main-footer .footer-text a {
    color: #ffffff;
    text-decoration: none;
}

footer .main-footer .footer-text p.brand-family-menu span.separator {
    margin: 0 4px;
}

footer .main-footer .footer-text p.terms {
    font-weight: 400;
}

footer .main-footer .wizard {
    position: absolute;
    bottom: 1rem;
    left: 10rem;
}

footer .main-footer .wizard a {
    width: 131px;
    height: 84px;
    background-image: url(../Resources/Wizards_of_the_Coast_logo.png);
}

footer .main-footer .logo a {
    text-indent: -999px;
    outline: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
}

footer .main-footer .privacy {
    position: absolute;
    right: 125px;
    bottom: 0;
}

footer .main-footer .logo {
    margin: 0;
}

footer .main-footer p {
    font-size: 1.2rem;
}
